/* the overlayed element */
.apple_overlay {
	
	/* initially overlay is hidden */
	display:none;
	
	/* growing background image */
	background-image:url(../images/white.png);
	
	/* 
		width after the growing animation finishes
		height is automatically calculated
	*/
	width:585px;	
	min-height: 455px;	
	
	/* some padding to layout nested elements nicely  */
	padding:35px;

	/* a little styling */	
	font-size:11px;
}

/* default close button positioned on upper right corner */
.apple_overlay div.close {
	position:absolute; right:5px; top:5px;
	cursor:pointer;
	height:35px;
	width:35px;
	background: url(../images/apple-close.png) no-repeat center center;
}